### Question 2: Are women more likely to complete secondary education in some countries than others? In the coming years, what percentage of women overall and by country, do we expect to enroll in secondary education? What factors indicate whether or not a women completes secondary education?

### Import packages and data

In [12]:
#import packages

# general
import numpy as np
import pandas as pd
import time

# sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split, LeaveOneOut, KFold, cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import ElasticNet
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.metrics import classification_report

# visualization
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
#load in the dataset
df = pd.read_csv('transformed_data.csv')
df.head()

,Unnamed: 0,Year,A woman can be head of household in the same way as a man (1=yes; 0=no),A woman can choose where to live in the same way as a man (1=yes; 0=no),A woman can get a job in the same way as a man (1=yes; 0=no),A woman can obtain a judgment of divorce in the same way as a man (1=yes; 0=no),A woman can open a bank account in the same way as a man (1=yes; 0=no),A woman can register a business in the same way as a man (1=yes; 0=no),A woman can sign a contract in the same way as a man (1=yes; 0=no),A woman can travel outside her home in the same way as a man (1=yes; 0=no),...,Country Name_Ukraine,Country Name_United Arab Emirates,Country Name_United Kingdom,Country Name_United States,Country Name_Uruguay,Country Name_Uzbekistan,"Country Name_Venezuela, RB",Country Name_Viet Nam,Country Name_West Bank and Gaza,Country Name_Zimbabwe
0,0,-1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,1,-0.7,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,2,0.1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,3,0.5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,4,0.6,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0

### Prepare the data for the models

In [41]:
#create X and y dataframes
X = df.drop(columns='School enrollment, secondary, female (% gross)')
y = df[['School enrollment, secondary, female (% gross)']]

In [42]:
#split data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
y_test

     School enrollment, secondary, female (% gross)
396                                        0.004843
227                                        0.115674
673                                        0.000000
702                                        0.000000
643                                       -1.464595
..                                              ...
35                                         0.000000
870                                       -1.331799
503                                        0.008743
472                                       -0.075033
211                                        0.276600

[215 rows x 1 columns]

#### Feature engineering

In [43]:
#initialize sfs, use linear regression as the baseline model for this question
sfs = SequentialFeatureSelector(estimator = LinearRegression(),
                                n_features_to_select = "auto",
                                direction = 'forward',
                                scoring = 'neg_mean_squared_error',
                                cv = 10)

#fit the data to sfs
sfs = sfs.fit(X_train, y_train)

#retrieve the and print the names of the selected features
feature_names = np.array(df.columns.difference(['School enrollment, secondary, female (% gross)']))
selected_feature_names = feature_names[sfs.get_support()].tolist()
print("Selected features:", selected_feature_names)

# transform X_train and X_test to include only the selected features
X_train_selected = sfs.transform(X_train)
X_test_selected = sfs.transform(X_test)

# display the shape of transformed X_train_selected and X_test_selected
print("Transformed X_train shape:", X_train_selected.shape)
print("Transformed X_test shape:", X_test_selected.shape)

Selected features: ['A woman can be head of household in the same way as a man (1=yes; 0=no)', 'A woman has the same rights to remarry as a man (1=yes; 0=no)', 'Age dependency ratio (% of working-age population)', 'Country Name_Algeria', 'Country Name_Angola', 'Country Name_Australia', 'Country Name_Belarus', 'Country Name_Belgium', 'Country Name_Belize', 'Country Name_Benin', 'Country Name_Bulgaria', 'Country Name_Burkina Faso', 'Country Name_Cabo Verde', 'Country Name_Cambodia', 'Country Name_Chad', 'Country Name_Colombia', 'Country Name_Denmark', 'Country Name_Ecuador', 'Country Name_El Salvador', 'Country Name_Eswatini', 'Country Name_Ethiopia', 'Country Name_France', 'Country Name_Gambia, The', 'Country Name_Georgia', 'Country Name_Grenada', 'Country Name_Guatemala', 'Country Name_Hong Kong SAR, China', 'Country Name_Hungary', 'Country Name_India', 'Country Name_Ireland', 'Country Name_Jordan', 'Country Name_Kenya', 'Country Name_Kiribati', 'Country Name_Lao PDR', 'Country Name_Latvia', 'Country Name_Lebanon', 'Country Name_Lesotho', 'Country Name_Liberia', 'Country Name_Lithuania', 'Country Name_Luxembourg', 'Country Name_Maldives', 'Country Name_Malta', 'Country Name_Mauritius', 'Country Name_Mexico', 'Country Name_Moldova', 'Country Name_Mongolia', 'Country Name_Morocco', 'Country Name_Myanmar', 'Country Name_Namibia', 'Country Name_New Zealand', 'Country Name_Niger', 'Country Name_North Macedonia', 'Country Name_Norway', 'Country Name_Oman', 'Country Name_Panama', 'Country Name_Poland', 'Country Name_Portugal', 'Country Name_Rwanda', 'Country Name_Serbia', 'Country Name_Seychelles', 'Country Name_Sierra Leone', 'Country Name_South Africa', 'Country Name_Spain', 'Country Name_Sri Lanka', 'Country Name_St. Vincent and the Grenadines', 'Country Name_Sweden', 'Country Name_Switzerland', 'Country Name_Tunisia', 'Country Name_Turkiye', 'Country Name_Ukraine', 'Country Name_United Kingdom', 'Country Name_Venezuela, RB', 'Country Name_Viet Nam', 'Country Name_Zimbabwe', 'Fertility rate, total (births per woman)', 'GDP (current US$)', 'GDP per capita (Current US$)', 'Law mandates equal remuneration for females and males for work of equal value (1=yes; 0=no)', 'Length of paid parental leave for mother (calendar days)', 'Length of paid paternity leave (calendar days)', 'Life expectancy at age 60, female (years)', 'Paid leave of at least 14 weeks available to mothers (1=yes; 0=no)', 'Population ages 65 and above, female', 'Population, female (% of total)', 'Rural population (% of total population)', 'School enrollment, primary, female (% gross)', 'School enrollment, tertiary (% gross)', 'Sons and daughters have equal rights to inherit assets from their parents (1=yes; 0=no)', 'The age at which men and women can retire with partial pension benefits is the same (1=yes; 0=no)', 'The law grants spouses equal administrative authority over assets during marriage (1=yes; 0=no)', 'The law prohibits discrimination in access to credit based on gender (1=yes; 0=no)', 'The mandatory retirement age for men and women is the same (1=yes; 0=no)', 'Unnamed: 0', 'Vocational and Technical enrolment (% of total secondary enrolment), total']
Transformed X_train shape: (856, 94)
Transformed X_test shape: (215, 94)

### Initial Baseline Model for Linear Regression:

In [6]:
#create a linear regression model using the selected features

#initialize the model
lr_model = LinearRegression()

#fit the model
lr_model.fit(X_train_selected, y_train)

#making predictions on the training and test sets
y_pred_train = lr_model.predict(X_train_selected)
y_pred_test = lr_model.predict(X_test_selected)

#evaluate the model using MSE and R squared
mse_train = mean_squared_error(y_train,y_pred_train)
mse_test = mean_squared_error(y_test,y_pred_test)
r_sq_train = lr_model.score(X_train_selected, y_train)
r_sq_test = lr_model.score(X_test_selected, y_test)

#print the MSE and R_squared
print('MSE (Train): ', round(mse_train, 3))
print('MSE (Test): ', round(mse_test, 3))
print('R-Squared (Train): ', round(r_sq_train, 3))
print('R-Squared (Test): ', round(r_sq_test, 3))

MSE (Train):  0.217
MSE (Test):  0.435
R-Squared (Train):  0.893
R-Squared (Test):  0.76

> The initial model does fairly okay with an r-squared of 0.876 for the training data and 0.752 for the test data. Because the test r-squared is quite a bit lower than the train, there could be some concern of overfitting. Additionally, the MSE of the test data is much worse than it is for the training data. For a simple linear regression, this model does not perform too bad, but it will be interesting to see how more advanced models perform in comparison.

### Function for the Models

In [44]:
def question2(model_type, X_train, y_train, X_test, y_test):

    # Step 1: Initialize a model object
    if model_type == 'Linear Regression':
      model = LinearRegression()
    elif model_type == 'Ridge':
      model = Ridge()
    elif model_type == 'Lasso':
      model = Lasso()
    elif model_type == 'Random Forest':
      model = RandomForestRegressor()
    elif model_type == 'Gradient Boosting':
      model = GradientBoostingRegressor()
    elif model_type == 'ElasticNet':
      model = ElasticNet()
    else:
      print('Please specify the model type')

    # Step 2: Train the model
    model.fit(X_train, y_train)

    # Step 3: Make predictions
    y_pred_train = model.predict(X_train)
    y_pred_test = model.predict(X_test)

    # Step 4: Evaluate the model performance

    ## MSE
    #evaluate the model using MSE and R squared
    mse_train = mean_squared_error(y_train,y_pred_train)
    mse_test = mean_squared_error(y_test,y_pred_test)
    r_sq_train = model.score(X_train, y_train)
    r_sq_test = model.score(X_test, y_test)

    #print the MSE and R_squared
    print('MSE (Train): ', round(mse_train, 3))
    print('MSE (Test): ', round(mse_test, 3))
    print('R-Squared (Train): ', round(r_sq_train, 3))
    print('R-Squared (Test): ', round(r_sq_test, 3))

    return mse_train, mse_test, r_sq_train, r_sq_test

### Model #1: Linear Regression

In [45]:
#running the model with all of x_train, not just the selected features
print('Without Feature Selection:')
mse_train_lr, mse_test_lr, r_sq_train_lr, r_sq_test_lr = question2('Linear Regression', X_train, y_train, X_test, y_test)

print('\n')

#running the model with the selected features
print('With Feature Selection:')
mse_train_lr_selected, mse_test_lr_selected, r_sq_train_lr_selected, r_sq_test_lr_selected = question2('Linear Regression', X_train_selected, y_train, X_test_selected, y_test)

Without Feature Selection:
MSE (Train):  0.168
MSE (Test):  15.309
R-Squared (Train):  0.917
R-Squared (Test):  -7.458


With Feature Selection:
MSE (Train):  0.217
MSE (Test):  0.435
R-Squared (Train):  0.893
R-Squared (Test):  0.76

### Model #2: Regularized Regression Models

In [46]:
#running the ridge model with all of x_train, not just selected features
print('Ridge Without Feature Selection:')
mse_train_ridge, mse_test_ridge, r_sq_train_ridge, r_sq_test_ridge = question2('Ridge', X_train, y_train, X_test, y_test)
print('\n')

#running the ridge model with the selected features
print('Ridge With Feature Selection:')
mse_train_ridge_selected, mse_test_ridge_selected, r_sq_train_ridge_selected, r_sq_test_ridge_selected = question2('Ridge', X_train_selected, y_train, X_test_selected, y_test)
print('\n')

#running the lasso model with all of x_train, not just selected features
print('Lasso Without Feature Selection:')
mse_train_lasso, mse_test_lasso, r_sq_train_lasso, r_sq_test_lasso = question2('Lasso', X_train_selected, y_train, X_test_selected, y_test)
print('\n')

#running the lasso model with the selected features
print('Lasso With Feature Selection:')
mse_train_lasso_selected, mse_test_lasso_selected, r_sq_train_lasso_selected, r_sq_test_lasso_selected = question2('Lasso', X_train_selected, y_train, X_test_selected, y_test)

Ridge Without Feature Selection:
MSE (Train):  0.2
MSE (Test):  0.464
R-Squared (Train):  0.902
R-Squared (Test):  0.744


Ridge With Feature Selection:
MSE (Train):  0.236
MSE (Test):  0.454
R-Squared (Train):  0.884
R-Squared (Test):  0.749


Lasso Without Feature Selection:
MSE (Train):  1.789
MSE (Test):  1.679
R-Squared (Train):  0.122
R-Squared (Test):  0.072


Lasso With Feature Selection:
MSE (Train):  1.789
MSE (Test):  1.679
R-Squared (Train):  0.122
R-Squared (Test):  0.072

### Model #3: Ensemble Methods

In [47]:
#reshape the target variable
y_train = y_train.values.ravel()
y_test = y_test.values.ravel()

#running the random forest model with all of x_train, not just selected features
print('Random Forest Without Feature Selection:')
mse_train_rf, mse_test_rf, r_sq_train_rf, r_sq_test_rf = question2('Random Forest', X_train, y_train, X_test, y_test)
print('\n')

#running the random forest model with the selected features
print('Random Forest With Feature Selection:')
mse_train_rf_selected, mse_test_rf_selected, r_sq_train_rf_selected, r_sq_test_rf_selected = question2('Random Forest', X_train_selected, y_train, X_test_selected, y_test)
print('\n')

#running the gradient boosting model with all of x_train, not just selected features
print('Gradient Boosting Without Feature Selection:')
mse_train_gb, mse_test_gb, r_sq_train_gb, r_sq_test_gb = question2('Gradient Boosting', X_train, y_train, X_test, y_test)
print('\n')

#running the gradient boosting model with the selected features
print('Gradient Boosting With Feature Selection:')
mse_train_gb_selected, mse_test_gb_selected, r_sq_train_gb_selected, r_sq_test_gb_selected = question2('Gradient Boosting', X_train_selected, y_train, X_test_selected, y_test)
print('\n')

Random Forest Without Feature Selection:
MSE (Train):  0.029
MSE (Test):  0.326
R-Squared (Train):  0.986
R-Squared (Test):  0.82


Random Forest With Feature Selection:
MSE (Train):  0.029
MSE (Test):  0.317
R-Squared (Train):  0.986
R-Squared (Test):  0.825


Gradient Boosting Without Feature Selection:
MSE (Train):  0.094
MSE (Test):  0.316
R-Squared (Train):  0.954
R-Squared (Test):  0.825


Gradient Boosting With Feature Selection:
MSE (Train):  0.13
MSE (Test):  0.368
R-Squared (Train):  0.936
R-Squared (Test):  0.797

### Model #4: ElasticNet

In [48]:
#running the elasticnet model with all of x_train, not just selected features
print('ElasticNet Without Feature Selection:')
mse_train_en, mse_test_en, r_sq_train_en, r_sq_test_en = question2('ElasticNet', X_train, y_train, X_test, y_test)
print('\n')

#running the elasticnet model with the selected features
print('ElasticNet With Feature Selection:')
mse_train_en_selected, mse_test_en_selected, r_sq_train_en_selected, r_sq_test_en_selected = question2('ElasticNet', X_train_selected, y_train, X_test_selected, y_test)
print('\n')

ElasticNet Without Feature Selection:
MSE (Train):  1.273
MSE (Test):  1.273
R-Squared (Train):  0.375
R-Squared (Test):  0.297


ElasticNet With Feature Selection:
MSE (Train):  1.332
MSE (Test):  1.348
R-Squared (Train):  0.346
R-Squared (Test):  0.255

### Create a DF with all the non feature selection models

In [50]:
# Create a dictionary to hold evauluation metrics from the models without feature selection
data = {

    'Model': [
        'Linear Regression without Feature Selection',
        'Ridge without Feature Selection',
        'Lasso without Feature Selection',
        'Random Forest without Feature Selection',
        'Gradient Boosting without Feature Selection',
        'ElasticNet without Feature Selection'
        ],


    'R Squared Train': [
        r_sq_train_lr,
        r_sq_train_ridge,
        r_sq_train_lasso,
        r_sq_train_rf,
        r_sq_train_gb,
        r_sq_train_en
        ],

    'R Squared Test': [
        r_sq_test_lr,
        r_sq_test_ridge,
        r_sq_test_lasso,
        r_sq_test_rf,
        r_sq_test_gb,
        r_sq_test_en
        ],

    'MSE Train': [
        mse_train_lr,
        mse_train_ridge,
        mse_train_lasso,
        mse_train_rf,
        mse_train_gb,
        mse_train_en
        ],

    'MSE Test': [
        mse_test_lr,
        mse_test_ridge,
        mse_test_lasso,
        mse_test_rf,
        mse_test_gb,
        mse_test_en
    ]
    }

# Create and display a dataframe
results_df = pd.DataFrame(data)
results_df

,Model,R Squared Train,R Squared Test,MSE Train,MSE Test
0,Linear Regression without Feature Selection,0.917498,-7.457867,0.168104,15.309384
1,Ridge without Feature Selection,0.902030,0.743721,0.199623,0.463884
2,Lasso without Feature Selection,0.122136,0.072213,1.788726,1.679366
3,Random Forest without Feature Selection,0.985922,0.819962,0.028685,0.325882
4,Gradient Boosting without Feature Selection,0.953881,0.825391,0.093971,0.316055
5,ElasticNet without Feature Selection,0.375166,0.296690,1.273155,1.273046

### Create a DF with all the results from the feature selection models

In [51]:
# Create a dictionary to hold evauluation metrics from the models without feature selection
data_selected = {

    'Model': [
        'Linear Regression with Feature Selection',
        'Ridge with Feature Selection',
        'Lasso with Feature Selection',
        'Random Forest with Feature Selection',
        'Gradient Boosting with Feature Selection',
        'ElasticNet with Feature Selection'
        ],


    'R Squared Train': [
        r_sq_train_lr_selected,
        r_sq_train_ridge_selected,
        r_sq_train_lasso_selected,
        r_sq_train_rf_selected,
        r_sq_train_gb_selected,
        r_sq_train_en_selected
        ],

    'R Squared Test': [
        r_sq_test_lr_selected,
        r_sq_test_ridge_selected,
        r_sq_test_lasso_selected,
        r_sq_test_rf_selected,
        r_sq_test_gb_selected,
        r_sq_test_en_selected
        ],

    'MSE Train': [
        mse_train_lr_selected,
        mse_train_ridge_selected,
        mse_train_lasso_selected,
        mse_train_rf_selected,
        mse_train_gb_selected,
        mse_train_en_selected
        ],

    'MSE Test': [
        mse_test_lr_selected,
        mse_test_ridge_selected,
        mse_test_lasso_selected,
        mse_test_rf_selected,
        mse_test_gb_selected,
        mse_test_en_selected
    ]
    }

# Create and display a dataframe
results_df_selected = pd.DataFrame(data_selected)
results_df_selected

,Model,R Squared Train,R Squared Test,MSE Train,MSE Test
0,Linear Regression with Feature Selection,0.893322,0.759778,0.217366,0.434821
1,Ridge with Feature Selection,0.884281,0.749199,0.235788,0.453969
2,Lasso with Feature Selection,0.122136,0.072213,1.788726,1.679366
3,Random Forest with Feature Selection,0.985566,0.824784,0.029411,0.317154
4,Gradient Boosting with Feature Selection,0.936215,0.796647,0.129968,0.368084
5,ElasticNet with Feature Selection,0.346111,0.255076,1.332356,1.348369

### References

1. Lab 3 Solutions
2. Lab 6 Solutions
3. https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html
4. https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html
5. https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html